body {
  background-color: black;
  color: #afafaf;
  font-weight: 300;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  max-width: 800px;
  margin-left: 10%; }

ul {
  list-style: none;
  padding-left: 0; }

b, strong {
  font-weight: 600; }

.console {
  font-size: 14px; }
  .console .jquery-console-focus .jquery-console-cursor {
    background-color: #e2e2e2; }
  .console .jquery-console-cursor {
    background-color: #626262;
    color: gray; }
  .console .jquery-console-message-error {
    color: #ffe2e2; }
  .console .jquery-console-message-value {
    color: #e2e2e2; }
